<div class="container mt-2" *ngIf="invoiceDetails">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Order ID: {{invoiceId}}</div>
        <div class="card-body text-sm-start">
          <ul class="list-group">
            <li class="list-group-item">Order Id : {{invoiceDetails.id}}</li>
            <li class="list-group-item">Date : {{invoiceDetails.createdAt | date : 'dd/MM/yyyy'}}</li>
            <li class="list-group-item">Status : {{invoiceDetails.status}}</li>
            <li class="list-group-item">Customer Id : {{invoiceDetails.customer.id}}</li>
            <li class="list-group-item">Customer Name : {{invoiceDetails.customer.name}}</li>
            <li class="list-group-item">Customer Email : {{invoiceDetails.customer.email}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Product Items</div>
        <div class="card-body">
          <table class="table table-sm">
            <thead>
            <tr class="bg-dark text-white">
              <th>Product Id</th><th>Product Name</th><th>Quantity</th><th>Price</th><th>Discount</th><th>Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pi of invoiceDetails.productItems">
              <td>{{pi.product.id}}</td>
              <td>{{pi.product.name}}</td>
              <td>{{pi.quantity}}</td>
              <td class="text-end">{{pi.price | number : '.2'}}</td>
              <td class="text-end">{{pi.discount |number: '.2'}}</td>
              <td class="text-end">{{pi.amount |number: '.2'}}</td>
            </tr>
            <tr class="bg-dark text-white">
              <td colspan="5" class="text-end">Total</td>
              <td class="text-end">{{invoiceDetails.total|number: '.2'}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
